/*** uncss> filename: temp/6f07af60-67f2-11e6-b798-57d9d6624b25.css ***/
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

a {
    background: transparent
}

a:active,
a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

img {
    border-style: none
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button,
input,
select {
    font: inherit
}

button,
input,
select {
    overflow: visible
}

button,
input,
select {
    margin: 0
}

button,
select {
    text-transform: none
}

[type=submit],
button {
    cursor: pointer
}

[type=submit],
button {
    -webkit-appearance: button
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

button:-moz-focusring,
input:-moz-focusring {
    outline: 1px dotted ButtonText
}

[type=checkbox] {
    box-sizing: border-box;
    padding: 0
}

[type=search] {
    -webkit-appearance: textfield
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

* {
    box-sizing: border-box
}